[run]
omit =
    # Python specific path
    /usr/local/lib/python2.7/*
    # Scapy specific paths
    test/*
    bin/*
    scapy/tools/*
    # Libraries
    scapy/modules/six.py
	scapy/modules/winpcapy.py
    # Python 3: not tested yet
    scapy/compat.py
