language: python

matrix:
    include:
        # Run as a regular user
        - os: linux
          python: 2.7

        - os: linux
          python: pypy

        - os: osx
          language: generic

        - os: osx
          language: generic
          env:
            - SCAPY_USE_PCAPDNET=yes

        # Run as root
        - os: linux
          sudo: required
          python: 2.7
          env:
            - TRAVIS_SUDO=sudo

        - os: linux
          sudo: required
          python: 2.7
          env:
            - TRAVIS_SUDO=sudo TEST_COMBINED_MODES=yes

        - os: linux
          sudo: required
          python: 2.7
          env:
            - TRAVIS_SUDO=sudo SCAPY_USE_PCAPDNET=yes

        - os: osx
          language: generic
          env:
            - TRAVIS_SUDO=sudo

        - os: osx
          language: generic
          env:
            - TRAVIS_SUDO=sudo SCAPY_USE_PCAPDNET=yes

install: bash .travis/install.sh

script: bash .travis/test.sh
