language: python
dist: bionic  # OpenSSL 1.1.1
cache:
  directories:
  - $HOME/.cache/pip
  - .tox

jobs:
    include:
        # run custom root tests
        # isotp
        - os: linux
          python: 3.8
          env:
            - TOXENV=py38-isotp_kernel_module,codecov

        # libpcap
        - os: linux
          python: 3.8
          env:
            - SCAPY_USE_LIBPCAP=yes TOXENV=py38-linux_root,codecov

        # warnings/deprecations
        - os: linux
          python: 3.8
          env:
            - SCAPY_PY_OPTS="-Werror -X tracemalloc" TOXENV=py38-linux_root
    allow_failures:
      - env: SCAPY_PY_OPTS="-Werror -X tracemalloc" TOXENV=py38-linux_root

install:
  - bash .config/ci/install.sh
  - python -c "from scapy.all import conf; print(repr(conf))"

script: bash .config/ci/test.sh
