name: Scapy Unit Tests on *BSD

on:
  pull_request:
    types: [labeled]
    branches: [master]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  freebsd:
    if: contains(github.event.pull_request.labels.*.name, 'ci/bsd')
    runs-on: ubuntu-latest
    name: FreeBSD
    steps:
    - uses: actions/checkout@v4
    - name: Run tox
      uses: vmactions/freebsd-vm@v1
      with:
        copyback: false
        prepare: |
          pkg install -y python3 py311-pip py311-sqlite3 sudo

        run: |
          pip install tox
          tox -e 'py311-bsd_non_root,py311-bsd_root' -- -qq

  openbsd:
    if: contains(github.event.pull_request.labels.*.name, 'ci/bsd')
    runs-on: ubuntu-latest
    name: OpenBSD
    steps:
    - uses: actions/checkout@v4
    - name: Run tox
      uses: vmactions/openbsd-vm@v1
      with:
        copyback: false
        prepare: |
          pkg_add python3 py3-pip sudo

        run: |
          pip3 install tox
          tox -e 'py311-bsd_non_root,py311-bsd_root' -- -qq
