name: Scapy unit tests

on: [push, pull_request]

jobs:
  health:
    name: Code health check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Scapy
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install tox
        run: pip install tox
      - name: Run flake8 tests
        run: tox -e flake8
      - name: Run codespell
        run: tox -e spell
      - name: Run twine check
        run: tox -e twine
  docs:
    name: Build doc
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Scapy
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install tox
        run: pip install tox
      - name: Build docs
        run: tox -e docs
  mypy:
    name: Type hints check
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Scapy
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install tox
        run: pip install tox
      - name: Run mypy
        run: tox -e mypy

  # Github Actions block ICMP. We can still use it for non root tests
  utscapy:
    name: Non-sudo unit tests
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python: [2.7, pypy2, pypy3, 3.5, 3.6, 3.7, 3.8, 3.9]
    steps:
      - name: Checkout Scapy
        uses: actions/checkout@v2
      - name: Setup Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install Tox and any other packages
        run: ./.config/ci/install.sh
      - name: Run Tox
        run: ./.config/ci/test.sh ${{ matrix.python }} non_root
      - name: Codecov
        uses: codecov/codecov-action@v1
        with:
            file: /home/runner/work/scapy/scapy/.coverage
